body,
ul,
li,
div,
a,
p,
h1,
h2,
h3,
h4,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    min-width: 1024px;
    background-color: rgba(242, 242, 242, 1);
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* 导航开始 */

.top {
    width: 100%;
    height: 48px;
    min-width: 1024px;
    background-color: #0F205C;
    position: relative;
}

.top .top-logo {
    float: left;
}

.top .top-logo .top-logo-l {
    position: absolute;
    left: 14px;
    top: 10px;
    width: 26px;
    height: 26px;
}

.top .top-logo .top-logo-r {
    position: absolute;
    left: 67px;
    top: 5px;
    width: 223px;
    height: 33px;
}

.top .top-left {
    float: right;
    position: relative;
}

.search {
    float: left;
    margin-top: 2px;
    position: relative;
}

.search img {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.top .top-left input {
    width: 230px;
    height: 44px;
    line-height: 20px;
    color: #fff;
    float: left;
    background-color: rgba(255, 255, 255, 0.22);
    text-align: left;
    border: 0px;
    padding: 0px 38px 0px 18px;
}

.top .top-left input::placeholder {
    color: #fff;
}

.top .top-left ul {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0px 25px;
}

.top .top-left ul li {
    float: left;
    opacity: 0.75;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
}

.top .top-left ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 17px;
    background-color: #fff;
    vertical-align: middle;
    margin: 0px 18px;
}

.top .top-left ul li:nth-last-of-type(1)::after {
    display: none;
}

.top .top-left ul li a {
    display: inline-block;
    vertical-align: middle;
    color: white;
}


/* logo导航结束 */


/* 文字导航开始 */

.top2 {
    width: 100%;
    height: 50px;
    min-width: 1024px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 5px 1px rgba(170, 170, 170, 1);
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

.top2 ul li {
    float: left;
    line-height: 50px;
    color: rgba(17, 30, 92, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-right: 28px;
}

.top-logo-r img {
    width: 223px;
    margin-top: 5px;
}

.top2 ul li a {
    color: rgba(17, 30, 92, 1);
}

.top2 ul li:nth-child(1) {
    /* width: 32px; */
    height: 50px;
    margin-left: 24px;
}

.top2 ul li:nth-child(2) {
   /*  width: 80px; */
    height: 50px;
}

.top2 ul li:nth-child(3) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(4) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(5) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(6) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(7) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(8) {
    /* width: 32px; */
    height: 50px;
}

.top2 ul li:nth-child(9) {
    /* width: 32px; */
    height: 50px;
}

.top2 ul li:nth-child(10) {
    /* width: 32px; */
    height: 50px;
}


/* banner轮播图开始 */

.banner {
    width: 100%;
    min-width: 1024px;
}

.banner-l {
    display: inline-block;
    width: 100%;
    /* width: 100%; */
}
.swiper-container{
    width: 100%;
    height: 500px;
}
.swiper-slide {
    height: 500px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}

.banner-r {
    /* display: inline-block; */
    margin-top: -4px;
    height: 180px;
    background-color: red;
    width: 100%;
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

.banner .banner-l img {
    /* width: 67%; */
    width: 100%;
}

.banner .banner-r img {
    /* width: 22%; */
    width: 100%;
}

.banner-r {
    overflow: hidden;
}

.banner-r p:nth-child(1) {
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: 方正兰亭黑-细;
    margin-top: 30px;
}

.banner-r p:nth-child(2) {
    margin-top: 19px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: center;
    font-family: 方正兰亭黑-细;
}

.banner-r p {
    text-align: center;
}

.xiangqing {
    overflow: hidden;
    margin: 60px auto !important;
}
.containerBox{
    background-color: #fff;
    padding: 10px 0px;
}

#div-l,
#div-r {
    float: left;
}

#div-l {
    width: 471px;
    height: 282px;
    position: relative;
}

#div-l img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
	border-radius:4px 4px 0 4px;
}

#div-l span {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    border-radius: 0px 0px 5px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: 方正兰亭黑-标准;
}

#div-r {
    padding: 0 34px;
    box-sizing: border-box;
    width: 729px;
}

#div-r h1 {
    height: 26px;
	font-size: 24px;
    font-weight: 700;
    color: #333;
    font-family: 方正兰亭黑-粗;
    margin-top: 40px;
    margin-bottom: 20px;
}

#div-r ul {
    overflow: hidden;
}

#div-r div ul li {
    float: left;
    color: #fff;
    margin-right: 4px;
    margin-bottom: 14px;
}
.div-r-03{
    float: left;
}
#xiangqing>li {
    overflow: hidden;
    background-color: #fff;
}
#xiangqing>li .li-desc{
    top:0;
    left:0;
    z-index: 999;
    width:100%;
    height:75%;
    display: none;
}
#xiangqing>li:hover .li-desc{
    display: block;
}
#xiangqing>li .li-desc .desc-bg{
    background-color:#000;
    opacity: 0.8;
    width:100%;
    height:100%;
}
#xiangqing>li .li-desc .desc{
    color:#fff;
    z-index: 9999;
    top:0;
    left:0;
    box-sizing:border-box;
    padding:48px 36px;
}
#xiangqing>li .li-desc h2{
    color:#fff;
    font-size: 18px;
    margin-bottom:20px;
}
#xiangqing>li .li-desc p{
    font-size: 15px;
    color:#fff;
    line-height: 31px;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* 3.28 add */
#xiangqing>li .div-r-01>ul li{
	color: #7d8083;
    font-size: 12px;
    font-weight: 300;
	margin-right:15px;
}

/* #div-r .div-r-01 ul li:first-child {
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    background-color: rgba(235, 105, 48, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

#div-r .div-r-01 ul li:nth-child(2) {
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    background-color: rgba(112, 196, 112, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

#div-r .div-r-01 ul li:nth-child(3) {
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    background-color: rgba(55, 145, 235, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

#div-r .div-r-01 ul li:nth-child(4) {
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    background-color: rgba(0, 150, 136, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
} */

#div-r .div-r-02 ul li {
    color: rgba(174, 174, 174, 1);
    font-size: 12px;
    width: 140px;
}
#div-r .div-r-02 ul li img{
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

#div-r .div-r-03 a {
    display: inline-block;
    width: 112px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    border-radius: 2px;
    background-color: rgba(66, 164, 211, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

#div-r .div-r-04 {
    float: right;
}

#div-r .div-r-04 span {
    height: 32px;
    color: #EB5648;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    font-family: 方正兰亭黑-粗;
}

.footer {
    width: 100%;
    height: 460px;
    line-height: 20px;
    background-color: rgba(25, 35, 62, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
}

.footer .footer-t {
    height: 320px;
    overflow: hidden;
}

.footer dl {
    float: left;
    margin-right: 83px;
    margin-top: 70px;
}

.footer dl dt {
    left: 362px;
    top: 2120px;
    width: 64px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-bottom: 16px;
}

.footer-t img {
    width: 80px;
    height: 80px;
}

.footer dl dd {
    left: 361px;
    top: 2160px;
    width: 78px;
    margin-top: 12px;
    /* height: 140px; */
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer dl:last-child dd {
    left: 361px;
    top: 2160px;
    width: 300px;
    margin-top: 12px;
    /* height: 140px; */
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c {
    margin-top: 40px;
    height: 20px;
    opacity: 0.5;
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c ul li {
    float: left;
    height: 16px;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
    border-right: 1px solid rgba(138, 143, 157, 1);
}

.footer .footer-c ul li a {
    padding: 0 10px;
    vertical-align: top;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
}

.footer .footer-c ul li:first-child a {
    padding-left: 0;
}

.footer .footer-c ul li:first-child,
.footer .footer-c ul li:last-child {
    border-right: 0;
}

.footer-1 {
    margin-top: 18px;
    border-top: 2px solid rgba(138, 143, 157, 1);
}

.footer-1 .logo {
    margin-top: 16px;
}

.footer-1 .logo img {
    float: left;
    /* margin-top: 16px; */
}

.footer-1 .logo p {
    width: 896px;
    height: 41px;
    opacity: 0.44;
    float: left;
    margin-left: 36px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}


.guojia {
    margin-top: 18px;
}

.gx_type {
    width: 100%;
    height: auto;
    padding-top: 0px;
    margin-bottom: 19px;
}

.gx_type #gjyx_tt {
    border-bottom: 1px solid #e2e2e2;
    font-size: 20px;
    text-indent: 2px;
    height: 52px;
    line-height: 52px;
}

.gx_type p {
    height: auto;
    line-height: 50px;
}

.gx_type p .c_r {
    border-bottom: 1px solid #e2e2e2;
    height: auto;
    line-height: 39px;
}

.gx_type p a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 3px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.gx_type #mdd {
    padding-left: 12px;
}

.gx_type .p1 a:hover {
    background: #098aca;
    color: #FFF;
}

.gx_type .a_on {
    background: #098aca;
    color: #FFF;
}

.gx_type #yx_p {
    border-bottom: 0;
}

.gx_type p span {
    display: inline-block;
    width: 129px;
    height: 50px;
    font-weight: 600;
    text-align: center;
}


.a_on input {
    vertical-align: middle !important;
}

.xinxi {
    margin-top: 10px;
}