body,
ul,
li,
div,
a,
p,
h1,
h2,
h3,
h4,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    background-color: rgba(242, 242, 242, 1);
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* 导航开始 */

.top {
    width: 100%;
    height: 48px;
    background-color: #0F205C;
    position: relative;
}

.top .top-logo {
    float: left;
}

.top .top-logo .top-logo-l {
    position: absolute;
    left: 14px;
    top: 10px;
    width: 26px;
    height: 26px;
    /* background-color: rgba(255, 255, 255, 1); */
}

.top .top-logo .top-logo-r {
    position: absolute;
    left: 67px;
    top: 5px;
    width: 223px;
    height: 33px;
}

.top .top-left {
    float: right;
    position: relative;
}

.search {
    float: left;
    margin-top: 2px;
    position: relative;
}

.search img {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.top .top-left input {
    width: 230px;
    height: 44px;
    line-height: 20px;
    color: #fff;
    float: left;
    background-color: rgba(255, 255, 255, 0.22);
    text-align: left;
    border: 0px;
    padding: 0px 38px 0px 18px;
}

.top .top-left input::placeholder {
    color: #fff;
}

.top .top-left ul {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0px 25px;
}

.top .top-left ul li {
    float: left;
    opacity: 0.75;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
}

.top .top-left ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 17px;
    background-color: #fff;
    vertical-align: middle;
    margin: 0px 18px;
}

.top .top-left ul li:nth-last-of-type(1)::after {
    display: none;
}

.top .top-left ul li a {
    display: inline-block;
    vertical-align: middle;
    color: white;
}


/* logo导航结束 */


/* 文字导航开始 */

.top2 {
    width: 100%;
    height: 50px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 5px 1px rgba(170, 170, 170, 1);
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

.top2 ul li {
    float: left;
    line-height: 50px;
    color: rgba(17, 30, 92, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-right: 28px;
}

.top-logo-r img {
    width: 223px;
    margin-top: 5px;
}

.top2 ul li a {
    color: rgba(17, 30, 92, 1);
}

.top2 ul li:nth-child(1) {
    width: 32px;
    height: 24px;
    margin-left: 24px;
}

.top2 ul li:nth-child(2) {
    width: 80px;
    height: 24px;
}

.top2 ul li:nth-child(3) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(4) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(5) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(6) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(7) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(8) {
    width: 32px;
    height: 24px;
}

.top2 ul li:nth-child(9) {
    width: 32px;
    height: 24px;
}

.top2 ul li:nth-child(10) {
    width: 32px;
    height: 24px;
}


/* 导航部分结束 */


/* 文本内容开始 */

.container {
    width: 1200px;
    margin: 0 auto;
}

.guojia {
    height: 202px;
    /* background-color: red; */
    margin-top: 18px;
}

.gx_type {
    width: 100%;
    height: auto;
    border: 1px solid #e2e2e2;
    /* padding: 20px; */
    padding-top: 0px;
    margin-bottom: 19px;
}

.gx_type #gjyx_tt {
    border-bottom: 1px solid #e2e2e2;
    font-size: 20px;
    text-indent: 2px;
    height: 52px;
    line-height: 52px;
}

.gx_type p {
    border-bottom: 1px solid #e2e2e2;
    height: auto;
    line-height: 38px;
}

.gx_type p .c_r {
    border-bottom: 1px solid #e2e2e2;
    height: auto;
    line-height: 39px;
}

.gx_type p a {
    text-decoration: none;
    color: #333333;
    display: inline-block;
    padding: 4px 13px;
    margin: 0 3px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.gx_type #mdd {
    padding-left: 12px;
}

.gx_type .p1 a:hover {
    background: #098aca;
    color: #FFF;
}

.gx_type .a_on {
    background: #098aca;
    color: #FFF;
}

.gx_type #yx_p {
    border-bottom: 0;
}

.gx_type p span {
    display: inline-block;
    width: 129px;
    height: 37px;
    background-color: rgba(66, 164, 211, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

.gx_type p:last-child {
    border-bottom: 0;
}

.a_on input {
    vertical-align: middle !important;
}

.xinxi {
    margin-top: 10px;
}

.zongjiao {
    /* left: 360px;
    top: 337px; */
    float: left;
    width: 310px;
    height: 762px;
    line-height: 20px;
    background-color: #fff;
    /* text-align: center; */
    border: 1px solid rgba(255, 255, 255, 0);
}

.zongjiao ul {
    padding: 0 20px;
}

.zongjiao ul li {
    height: 85px;
    border-bottom: 1px solid rgba(162, 162, 162, 1);
}

.zongjiao ul li:first-child {
    height: 110px;
    /* border-bottom: 1px solid blue; */
}

.zongjiao li:nth-child(1) p {
    margin-top: 28px;
    margin-left: 14px;
    width: 56px;
    height: 20px;
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-bold;
}

.zongjiao li #set1 {
    width: 270px;
    height: 50px;
    /* margin-left: 10px; */
    margin-top: 10px;
    padding-left: 10px;
}

.zongjiao li:nth-child(2) p {
    width: 204px;
    height: 20px;
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
    font-family: SourceHanSansSC-bold;
}

.zongjiao li:nth-child(3) p {
    width: 134px;
    height: 20px;
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
    font-family: SourceHanSansSC-bold;
}

.zongjiao li:nth-child(4) p {
    width: 140px;
    height: 20px;
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
    font-family: SourceHanSansSC-bold;
}

.zongjiao li:nth-child(5) p {
    width: 140px;
    height: 20px;
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
    font-family: SourceHanSansSC-bold;
}

.zongjiao li:nth-child(6) p {
    width: 104px;
    height: 20px;
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
    font-family: SourceHanSansSC-bold;
}

.xinxi {
    overflow: hidden;
}

.xuexiao {
    float: left;
    margin-left: 13px;
    box-sizing: border-box;
}

.xuexiao div {
    padding-left: 20px;
    padding-right: 40px;
}

.xuexiao>ul>li {
    width: 873px;
    height: 142px;
    /* background-color: blue; */
    margin-bottom: 14px;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(78, 154, 211, 1);
}

.xuexiao .dv01 {
    height: 20px;
    padding-top: 23px;
}

.xuexiao .dv02 {
    margin-top: 9px;
}

.xuexiao .dv03 {
    margin-top: 12px;
}

.xuexiao .dv03 img {
    width: 24px;
    height: 24px;
    vertical-align: top;
}

.xuexiao .dv01 span:nth-child(1) {
    display: inline-block;
    float: left;
    width: 200px;
    height: 20px;
    color: rgba(66, 164, 211, 1);
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.xuexiao .dv01 span:nth-child(2) {
    display: inline-block;
    float: right;
    width: 60px;
    height: 27px;
    color: rgba(66, 164, 211, 1);
    font-size: 18px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.xuexiao .dv01 span:nth-child(2) img {
    vertical-align: top;
}

.xuexiao .dv02 {
    height: 40px;
}

.xuexiao .dv02 span:nth-child(1) {
    width: 185px;
    height: 29px;
    float: left;
    color: rgba(17, 30, 92, 1);
    font-size: 20px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    text-decoration: underline;
}

.xuexiao .dv02 span:nth-child(2) {
    width: 200px;
    height: 16px;
    color: rgba(74, 74, 74, 1);
    font-size: 14px;
    text-align: left;
    float: left;
    font-family: Arial-regular;
}

.xuexiao .dv03 ul li {
    float: left;
    margin-right: 24px;
}

.xuexiao .dv03 ul li:last-child {
    float: right;
    margin-right: 0;
    width: 81px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(15, 32, 92, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

.footer {
    width: 100%;
    height: 460px;
    line-height: 20px;
    background-color: rgba(25, 35, 62, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
}

.footer .footer-t {
    height: 320px;
    overflow: hidden;
}

.footer dl {
    float: left;
    margin-right: 83px;
    margin-top: 70px;
}

.footer dl dt {
    left: 362px;
    top: 2120px;
    width: 64px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-bottom: 16px;
}

.footer-t img {
    width: 80px;
    height: 80px;
}

.footer dl dd {
    left: 361px;
    top: 2160px;
    width: 78px;
    margin-top: 12px;
    /* height: 140px; */
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer dl:last-child dd {
    left: 361px;
    top: 2160px;
    width: 300px;
    margin-top: 12px;
    /* height: 140px; */
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c {
    margin-top: 40px;
    height: 20px;
    opacity: 0.5;
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c ul li {
    float: left;
    height: 16px;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
    border-right: 1px solid rgba(138, 143, 157, 1);
}

.footer .footer-c ul li a {
    padding: 0 10px;
    vertical-align: top;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
}

.footer .footer-c ul li:first-child a {
    padding-left: 0;
}

.footer .footer-c ul li:first-child,
.footer .footer-c ul li:last-child {
    border-right: 0;
}

.footer-1 {
    margin-top: 18px;
    border-top: 2px solid rgba(138, 143, 157, 1);
}

.footer-1 .logo {
    margin-top: 16px;
}

.footer-1 .logo img {
    float: left;
    /* margin-top: 16px; */
}

.footer-1 .logo p {
    width: 896px;
    height: 41px;
    opacity: 0.44;
    float: left;
    margin-left: 36px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.demo {
    width: 255px;
}

.slider-container {
    margin-top: 32px;
}

#g1,
#g2 {
    margin-top: 50px
}