<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>艺术-详情</title>
    <link rel="stylesheet" href="./css/yishu-xiangqing.css">
</head>

<body>
    <div class="top">
        <div class="top-logo">
            <div class="top-logo-l">
                <img src="images/snaxian.png" alt="">
            </div>
            <div class="top-logo-r">
                <img src="images/logo.png" alt="">
            </div>
        </div>
        <div class="top-left">
            <div class="search">
                <input type="text" placeholder="热门搜索">
                <img src="images/sousuo1.png" alt="">
            </div>
            <ul>
                <li><a href="#">代理商</a></li>
                <li><a href="#">个人中心</a></li>
                <li><a href="#">我的收藏</a></li>
                <li><a href="#">登录</a></li>
                <li><a href="#">免费注册</a></li>
            </ul>
        </div>
    </div>
    <div class="top2">
        <ul>
            <li><a href="../../index.html">首页</a></li>
            <li><a href="../学习目的地/mudidi.html">学习目的地</a></li>
            <li><a href="../海外游学首页/haiwaiyouxue.html">海外游学</a></li>
            <li><a href="../海外留学/haiwailiuxue.html">海外留学</a></li>
            <li><a href="../艺术交流a/yishu.html">艺术交流</a></li>
            <li><a href="#">研学旅行</a></li>
            <li><a href="#">生涯教育</a></li>
            <li><a href="../../news/news.html">新闻</a></li>
            <li><a href="../../news/help.html">帮助</a></li>
            <li><a href="#">关于</a></li>
        </ul>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper"></div>
    </div>
    <div class="banner-r">
        <div class="container">
            <ul>
                <li>
                    <a href="#h2">概况 </a>
                </li>
                <li>
                    <a href="#video">视频/图片 </a>
                </li>
                <li>
                    <a href="#jigou">组织机构 </a>
                </li>
                <li>
                    <a href="#jigou">活动特色 </a>
                </li>
                <li>
                    <a href="#richengConetent">日程计划 </a>
                </li>
                <li>
                    <a href="#richengConetent">学习交流 </a>
                </li>
                <li>
                    <a href="#richengConetent">获得荣誉 </a>
                </li>
                <li>
                    <a href="#huodong">活动场馆 </a>
                </li>
                <li>
                    <a href="#canfang">参访 </a>
                </li>
                <li>
                    <a href="#jiaoliu">交流 </a>
                </li>
                <li>
                    <a href="#jingdian">景点 </a>
                </li>
                <li>
                    <a href="#zhusu">食宿 </a>
                </li>
                <li>
                    <a href="#p1">经典回顾 </a>
                </li>
                <li>
                    <a href="#">评价 </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">

    </div>
    <p class="p1">经典回顾</p>
    <div class="own appear">
        <ul>
        </ul>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-t">
                <dl>
                    <dt>新闻</dt>
                    <dd>公司动态</dd>
                    <dd>行业资讯</dd>
                    <dd>最新活动</dd>
                    <dd>游学资讯</dd>
                    <dd>海外教育</dd>
                    <dd>成功案例</dd>
                    <dd>精彩专题</dd>
                </dl>
                <dl>
                    <dt>帮助</dt>
                    <dd>游学须知</dd>
                    <dd>签证办理</dd>
                    <dd>留学须知</dd>
                    <dd>住宿问题</dd>
                    <dd>安全问题</dd>
                </dl>
                <dl>
                    <dt>代理商</dt>
                    <dd>加入我们</dd>
                    <dd>全球营地</dd>
                </dl>
                <dl>
                    <dt>关于</dt>
                    <dd>公司简介</dd>
                    <dd>公告通知</dd>
                    <dd>管理团队</dd>
                    <dd>加入我们</dd>
                    <dd>未来展望</dd>
                </dl>
                <dl>
                    <dt>关注</dt>
                    <dd>官方微博</dd>
                    <dd>西奥夫留学</dd>
                    <dd><img src="images/xafxcx.png" alt=""></dd>
                    <dd>西奥夫小程序</dd>
                    <dd>艺术留学</dd>
                </dl>
                <dl>
                    <dt>联系方式</dt>
                    <dd>西奥夫海外学院</dd>
                    <dd>资讯热线：400-596615151</dd>
                    <dd>邮箱：wang.zhen@cioffchina.com</dd>
                    <dd>地址：广东省深圳市福田区华强广场酒店A座18E</dd>
                </dl>
            </div>
            <div class="footer-c">
                <ul>
                    <li>友情链接：</li>
                    <li><a href="#">广州旅行社</a></li>
                    <li><a href="#">携程旅行</a></li>
                    <li><a href="#">走遍欧洲</a></li>
                    <li><a href="#">出境游</a></li>
                    <li><a href="#">途牛网</a></li>
                    <li><a href="#">大自驾网</a></li>
                    <li><a href="#">民航在线</a></li>
                    <li><a href="#">途家民宿短租</a></li>
                    <li><a href="#">加盟网</a></li>
                    <li><a href="#">墙根网</a></li>
                    <li><a href="#">众信旅游境外游</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-1">
            <div class="container">
                <div class="logo">
                    <img src="images/logo.png" alt="">
                    <p>西奥夫海外教育 ToursForFun.com不对文字错误引起的不便负任何责任，文字错误都会及时更正。网站内在线旅游产品报价和行程有可能会有更改变动，不做另行通知。 CST# 2096846-40 ©2006-2018 ToursForFun.com, 拥有最终解释权。 蜀ICP备10200285号 川B2-20150113 版权信息 隐私条例 网站地图 </p>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/template-web.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script src="./js/yishu-xiangqing.js"></script>
    <script type="text/html" id="banner">
        {{set a = 'http://47.107.191.81:8080'}} {{each data}}
        <div class="swiper-slide">
            <img src="{{a}}{{$value.filePath}}" alt="">
        </div>
        {{/each}}
    </script>
    <script type="text/html" id="detail">
        {{set a = 'http://47.107.191.81:8080'}}
        <div class="wenben " id="wenben">
            <div class="gaikuang container clearfix">
                <div class="gaikuang-l">
                    <h2 id="h2">{{data?data.title:''}}</h2>
                    <ul>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li><img src="./images/perNum.png" alt="">
                            <p>插班上课</p>
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <p class="p1" id="p1">{{data?data.description.replace(/\"/g,""):''}}</p>
                </div>
                <div class="gaikuang-r">
                    <div class="price">
                        <div class="price1">
                            <p>价格</p>
                            <h3><span id="price">¥{{data?data.price:''}}</span>/人</h3>
                        </div>
                        <div class="price2">
                            <h3>收藏</h3>
                        </div>
                    </div>
                    <div class="guojia" id="guojia">
                        <ul>
                            <li>
                                <img src="./images/country.png" alt=""> {{if data&&data.country=="UK"}}
                                <span>国家：英国</span> {{else if data&&data.country=="CA"}}
                                <span>国家：加拿大</span> {{else if data&&data.country=="US"}}
                                <span>国家：美国</span> {{else if data&&data.country=="EU"}}
                                <span>国家：欧洲</span> {{else if data&&data.country=="JP"}}
                                <span>国家：日本</span> {{else if data&&data.country=="RU"}}
                                <span>国家：俄罗斯</span> {{else if data&&data.country=="FR"}}
                                <span>国家：法国</span> {{else if data&&data.country=="AU"}}
                                <span>国家：澳大利亚</span> {{else if data&&data.country=="DE"}}
                                <span>国家：德国</span>{{else if data&&data.country=="FE"}}
                                <span>国家：芬兰</span>{{else if data&&data.country=="SG"}}
                                <span>国家：新加坡</span>{{else if data&&data.country=="TH"}}
                                <span>国家：泰国</span>{{else}}
                                <span>国家：全球</span>{{/if}}

                            </li>
                            <li>
                                <img src="./images/grade.png" alt=""> {{if data&&data.age=="1"}}
                                <span>年级：幼儿</span> {{else if data&&data.age=="2"}}
                                <span>年级：小学生</span> {{else if data&&data.age=="3"}}
                                <span>年级：初中生</span>{{else if data&&data.age=="4"}}
                                <span>年级：高中生</span>{{else if data&&data.age=="5"}}
                                <span>年级：大学生</span>{{else if data&&data.age=="6"}}
                                <span>年级：成人</span>{{else}}
                                <span>年级：社会</span>{{/if}}
                            </li>
                            <li>
                                <img src="./images/perNum.png" alt="">
                                <span>人数：31人</span>
                            </li>
                            <li>
                                <img src="./images/playType.png" alt=""> {{if data&&data.joinType=="1"}}
                                <span>表演类型：演唱、合唱</span>{{else if data&&data.age=="2"}}
                                <span>表演类型：舞蹈</span>{{else if data&&data.age=="3"}}
                                <span>表演类型：乐器演奏</span>{{else if data&&data.age=="4"}}
                                <span>表演类型：才艺展示</span>{{else if data&&data.age=="5"}}
                                <span>表演类型：传统游戏</span>{{else if data&&data.age=="6"}}
                                <span>表演类型：展览会</span>{{else}}
                                <span>表演类型：无</span> {{/if}}
                            </li>
                            <li>
                                <img src="./images/dayTime.png" alt="">
                                <span>天数：{{data?data.days:0}}天</span>
                            </li>
                        </ul>
                    </div>
                    <div class="guwen">
                        <ul>
                            <li>
                                <a href="#">
                                    <p>联系顾问了解</p>
                                    <span>更多信息</span>
                                </a>
                            </li>
                            <li><a href="#">艺术申请</a></li>
                        </ul>
                        <a href="#" id="download">下载免费的 XAF手册</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="vido clearfix" id="video">
            <ul class="clearfix container">
                <li id="li05"><img src="./艺术交流a/留学交流详情/图片.jpg" alt=""></li>
                <li id="li06">
                    <video src="{{a}}{{data.vedioes?data.vedioes[0].filePath:''}}" controls></video>
                </li>
            </ul>
        </div>
        <div class="jigou" id="jigou">
            <ul class="clearfix container">
                <li id="li01">
                    <h3>组织机构</h3>
                    <ul>
                        <li>{{data.organization?data.organization:""}}</li>
                    </ul>
                    <img src="./艺术交流a/留学交流详情/组织机构.jpg" alt="">
                    <a href="#">更多信息</a>
                </li>
                <li id="li02">
                    <h3>活动特色</h3>
                    <ul>
                        <li>{{data.attraction?data.attraction:''}}</li>
                    </ul>
                    <img src="./艺术交流a/留学交流详情/活动特色.jpg" alt="">
                    <a href="#">更多信息</a>
                </li>
            </ul>
        </div>
        <div class="richeng container" id="richengConetent">
            <h2>日程计划</h2>
            <div id="richeng">这个湖畔营地提供丰富的户外运动，游戏和有趣的旅行选择，可以在湖边游泳，打排球，骑自行车穿越森林，骑马等等！ 更不用说在柏林首都更远的地方。</div>
        </div>
        <div class="jiaoliu container">
            <ul>
                <li id="li03">
                    <h3>学习交流</h3>
                    <ul>
                        <li>{{data.study?data.study:''}}</li>
                    </ul>
                    <img src="./艺术交流a/留学交流详情/交流.jpg" alt="">
                    <a href="#">更多信息</a>
                </li>
                <li id="li04">
                    <h3>获得荣誉</h3>
                    <ul>
                        <li>{{data.schedule?data.schedule:''}}</li>
                    </ul>
                    <img src="./艺术交流a/留学交流详情/荣誉.jpg" alt="">
                    <a href="#">更多信息</a>
                </li>
            </ul>
        </div>
        <div class="Huodong">
            <div class="huodong container" id="huodong">
                <h2>活动场馆</h2>
                <p>在柏林 - Werbellinsee参加德语课程，您将有机会沉浸在语言中，同时能够利用营地的双语性质。每天早晨举办标准，标准+私人或强化课程，以便您享受活跃 的下午时光。你有很多机会在课后练习语言，激励教学技巧可以帮助你提高水平，发展你的勇气沟通。</p>
                <ul>
                    {{each data.pictures?data.pictures:''}}
                    <li>
                        <img src="{{a}}{{$value.filePath}}" alt="">
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="canfang container">
                <div class="canfang-l">
                    <div class="canfang-l-1" id="canfang">
                        <h2>参访</h2>
                        <p>{{data.visit?data.visit:''}}</p>
                    </div>
                    <div class="canfang-l-2" id="jiaoliu">
                        <h2>交流</h2>
                        <p>{{data.communication?data.communication:''}}</p>
                    </div>
                </div>
                <div class="canfang-r">
                    {{each data.pictures?data.pictures:''}}
                    <img src="{{a}}{{$value.filePath}}" alt=""> {{/each}}
                </div>
            </div>
        </div>
        <div class="jingdian" id="jingdian">
            <div class="jingdian1 container">
                <h2>景点</h2>
                <p>在柏林 - Werbellinsee参加德语课程，您将有机会沉浸在语言中，同时能够利用营地的双语性质。每天早晨举办标准，标准+私人或强化课程，以便您享受活跃 的下午时光。你有很多机会在课后练习语言，激励教学技巧可以帮助你提高水平，发展你的勇气沟通。
                </p>
            </div>
            <div class="jingdian2 appear">
                <ul>
                    <li>
                        <img src="./艺术交流a/留学交流详情/景点1.jpg" alt="">
                        <div class="jingdian-mask">
                            <h1>梦想绽放2017-第六届维也纳金色大厅夏季音乐会</h1>
                            <p>济州岛是韩国春天最早到来的地方每到初春,油菜花便会率先开放。</p>
                        </div>
                    </li>
                    <li>
                        <img src="./艺术交流a/留学交流详情/景点2.jpg" alt="">
                        <div class="jingdian-mask">
                            <h1>梦想绽放2017-第六届维也纳金色大厅夏季音乐会</h1>
                            <p>济州岛是韩国春天最早到来的地方每到初春,油菜花便会率先开放。</p>
                        </div>
                    </li>
                    <li>
                        <img src="./艺术交流a/留学交流详情/景点3.jpg" alt="">
                        <div class="jingdian-mask">
                            <h1>梦想绽放2017-第六届维也纳金色大厅夏季音乐会</h1>
                            <p>济州岛是韩国春天最早到来的地方每到初春,油菜花便会率先开放。</p>
                        </div>
                    </li>
                    <li>
                        <img src="./艺术交流a/留学交流详情/景点4.jpg" alt="">
                        <div class="jingdian-mask">
                            <h1>梦想绽放2017-第六届维也纳金色大厅夏季音乐会</h1>
                            <p>济州岛是韩国春天最早到来的地方每到初春,油菜花便会率先开放。</p>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="#">
                <p>联系顾问了解</p>
                <span>更多信息</span>
            </a>
        </div>
        <div class="zhusu">
            <div class="container">
                <div class="zhusu1" id="zhusu">
                    <h2>住宿</h2>
                    <div class="zhusu1-1">
                        <img src="./艺术交流a/留学交流详情/住宿.jpg" alt="">
                        <p>{{data.accommodations?data.accommodations:""}}</p>
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                </div>
                <div class="zhusu2" id="yongshan">
                    <h2>用膳</h2>
                    <div class="zhusu2-1">
                        <img src="./艺术交流a/留学交流详情/用膳.jpg" alt="">
                        <p>{{data.foods?data.foods:''}}</p>
                        <ul style='display:none'>
                            <li>与同学一起生活，获得更多独立</li>
                            <li>大多数住宅都是自炊式</li>
                            <li>与新朋友一起生活和社交</li>
                            <li>单人间，双床间，双人间，和宿舍间分布在不同地点</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script type="text/html" id="review">
        {{set a = "http://47.107.191.81:8080"}} {{each data}}
        <li>
            <img src="{{a}}{{$value.banners[0]?$value.banners[0].filePath:''}}" alt="">
            <div class="mobility">
                <h2>{{$value.title}}</h2>
                <p>{{$value.description}}</p>
            </div>
        </li>
        {{/each}}
    </script>

</body>

</html>