body,
ul,
li,
div,
a,
p,
h1,
h2,
h3,
h4,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    min-width: 1024px;
    background-color: rgba(242, 242, 242, 1);
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* 导航开始 */

.top {
    width: 100%;
    height: 48px;
    min-width: 1024px;
    background-color: #0F205C;
    position: relative;
}

.top .top-logo {
    float: left;
}

.top .top-logo .top-logo-l {
    position: absolute;
    left: 14px;
    top: 10px;
    width: 26px;
    height: 26px;
    /* background-color: rgba(255, 255, 255, 1); */
}

.top .top-logo .top-logo-r {
    position: absolute;
    left: 67px;
    top: 5px;
    width: 223px;
    height: 33px;
}

.top .top-left {
    float: right;
    position: relative;
}

.search {
    float: left;
    margin-top: 2px;
    position: relative;
}

.search img {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.top .top-left input {
    width: 230px;
    height: 44px;
    line-height: 20px;
    color: #fff;
    float: left;
    background-color: rgba(255, 255, 255, 0.22);
    text-align: left;
    border: 0px;
    padding: 0px 38px 0px 18px;
}

.top .top-left input::placeholder {
    color: #fff;
}

.top .top-left ul {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0px 25px;
}

.top .top-left ul li {
    float: left;
    opacity: 0.75;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
}

.top .top-left ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 17px;
    background-color: #fff;
    vertical-align: middle;
    margin: 0px 18px;
}

.top .top-left ul li:nth-last-of-type(1)::after {
    display: none;
}

.top .top-left ul li a {
    display: inline-block;
    vertical-align: middle;
    color: white;
}


/* logo导航结束 */


/* 文字导航开始 */

.top2 {
    width: 100%;
    height: 50px;
    min-width: 1024px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 5px 1px rgba(170, 170, 170, 1);
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

.top2 ul li {
    float: left;
    line-height: 50px;
    color: rgba(17, 30, 92, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-right: 28px;
}

.top-logo-r img {
    width: 223px;
    margin-top: 5px;
}

.top2 ul li a {
    color: rgba(17, 30, 92, 1);
}

.top2 ul li:nth-child(1) {
    /* width: 32px; */
    height: 50px;
    margin-left: 24px;
}

.top2 ul li:nth-child(2) {
    /* width: 80px; */
    height: 50px;
}

.top2 ul li:nth-child(3) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(4) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(5) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(6) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(7) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(8) {
    /* width: 32px; */
    height: 50px;
}

.top2 ul li:nth-child(9) {
    /* width: 32px; */
    height: 50px;
}

.top2 ul li:nth-child(10) {
    /* width: 32px; */
    height: 50px;
}


/* banner轮播图开始 */

.swiper-container {
    width: 100%;
    height: 800px;
    min-width: 1024px;
    position: relative;
}

.swiper-container img {
    width: 100%;
    height: 100%;
}

.banner-r {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    margin-top: -4px;
    padding: 30px 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
    z-index: 555;
}

.banner .banner-r img {
    /* width: 22%; */
    width: 100%;
}

.banner-r {
    overflow: hidden;
}

.banner-r p:nth-child(1) {
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: 方正兰亭黑-细;
    margin-top: 30px;
}

.banner-r p:nth-child(2) {
    margin-top: 19px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: center;
    font-family: 方正兰亭黑-细;
}

.banner-r p {
    text-align: center;
}

.cioff {
    /* overflow: hidden; */
    margin-top: 84px;
}

.cioff h2 {
    margin-bottom: 20px;
}

.cioff .p1 {
    color: rgba(60, 65, 69, 1);
    font-size: 36px;
    text-align: center;
    font-family: 方正兰亭黑-细;
}

.cioff .p2 {
    color: rgba(60, 65, 69, 1);
    font-size: 18px;
    text-align: center;
    font-family: 方正兰亭黑-细;
    margin-top: 19px;
}

.cioff .p3 {
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    text-align: center;
    font-family: 方正兰亭黑-细;
    margin-top: 24px;
    margin-bottom: 49px;
}

.own {
    text-align: center;
    overflow: hidden;
}

.own ul {
    overflow: hidden;
    width: 1366px;
    margin: 0 auto;
}

.own ul li {
    float: left;
    margin-right: 9px;
}

.own ul li:last-child {
    margin-right: 0px;
}


/*  */

.xiangqing {
    overflow: hidden;
}

.xiangqing .xiangqing-l {
    float: left;
	width:926px;
}
.xiangqing .xiangqing-r{
	float:right;
	width:271px;
}
.xiangqing .xiangqing-l ul .item {
    margin-bottom: 15px;
    width: 912px;
    height: 320px;
    overflow:hidden;
    position: relative;
}

.xiangqing .xiangqing-l ul li a {
    display: block;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
}

.xiangqing .xiangqing-l ul .artItem .artItemRight {
    position: absolute;
    right: -461px;
    top: 0px;
    width: 461px;
    height: 320px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 45px 21px 18px;
    box-sizing: border-box;
    display: none;
}

.xiangqing .xiangqing-l ul .artItem .artItemRight h1 {
    color: rgba(49, 49, 49, 1);
    font-size: 22px;
    text-align: left;
    line-height: 1.3;
    margin-right: 70px;
    font-family: 方正兰亭黑-粗;
}

.xiangqing .xiangqing-l ul .artItem .artItemRight .icon {
    display: inline-block;
    margin-top: 18px;
    width: 151px;
}

.xiangqing .xiangqing-l ul .artItem .artItemRight .icon img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.artItemRight .icon span {
    color: rgba(110, 110, 110, 1);
    font-size: 12px;
    text-align: left;
    font-family: 方正兰亭黑-标准;
}

.artItemRight>img {
    position: absolute;
    right: -10px;
    top: -0px;
    width: 50px;
    height: 50px;
}

.xiangqing .xiangqing-l ul li a span {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    border-radius: 0px 0px 5px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: 方正兰亭黑-标准;
}

.xiangqing .xiangqing-l ul li a em {
    position: absolute;
    right: 0px;
    top: 0px;
    font-style: normal;
    color: red;
    font-size: 20px;
}

.operateInfo {
    border-top: 1px dashed #000;
    margin-top: 30px;
    overflow: hidden;
    padding: 18px 0px;
    box-sizing: border-box;
}

.operateInfo span {
    float: left;
    color: rgba(229, 28, 35, 1);
    font-size: 28px;
    text-align: left;
    font-family: 方正兰亭黑-粗;
}

.xiangqing .xiangqing-l .operateInfo a {
    float: right;
    width: auto;
    width: 90px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    box-shadow: 2px 2px 2px 0px rgba(241, 241, 241, 1);
    box-sizing: border-box;
}

.xiangqing .xiangqing-l .operateInfo a:nth-of-type(2) {
    background-color: rgba(66, 164, 211, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: SourceHanSansSC-regular;
    margin-right: 12px;
}

.xiangqing .xiangqing-l .operateInfo a:nth-of-type(1) {
    text-align: center;
    box-shadow: 2px 2px 2px 0px rgba(241, 241, 241, 1);
    border: 1px solid rgba(66, 164, 211, 1);
    color: rgba(66, 164, 211, 1);
    font-size: 14px;
    font-family: SourceHanSansSC-regular;
}

.xiangqing .xiangqing-l ul li a h3 {
    position: absolute;
    width: 90%;
    left: 20px;
    bottom: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: SourceHanSansSC-bold;
    overflow: hidden;
    white-space: nowrap;
}

.xiangqing .xiangqing-l ul .artItem a h3:nth-of-type(1) {
    width: 45.5%;
}

.xiangqing .xiangqing-l ul li a img:nth-of-type(1) {
    width: 100%;
    height: 100%;
    display: block;
}

.xiangqing .xiangqing-l ul li a img:nth-of-type(2) {
    position: absolute;
    right: -10px;
    top: -16px;
    width: 50px;
    height: 50px;
}

.xiangqing .xiangqing-r {
    float: right;
}

.navButtom {
    margin: 50px auto;
    text-align: center;
    font-size: 0px;
}

.pagination {
    margin-top: 18px;
    font-size: 0;
    text-align: center;
}

.pagination .page-li {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.pagination .page-li:hover {
    cursor: pointer;
    background-color: #EAEAEA;
}

.pagination .page-li.page-active {
    cursor: default;
    color: #fff;
    border-color: #42A4D3;
    background-color: #42A4D3;
}

.pagination .page-li.number-ellipsis {
    border: none;
    cursor: default;
}

.pagination .page-li.number-ellipsis:hover {
    background-color: #fff;
}

.pagination .page-number {
    width: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
    text-align: center;
}

.pagination .page-prev {
    padding: 8px 14px;
    margin-right: 8px;
    background-color: #fff;
}

.pagination .page-prev.no-prev {
    color: #c6c6c6;
}

.pagination .page-prev.no-prev:hover {
    cursor: default;
    background-color: #fff;
}

.pagination .page-next {
    padding: 8px 14px;
    margin-left: 8px;
    background-color: #fff;
}

.pagination .page-next.no-next {
    color: #c6c6c6;
}

.pagination .page-next.no-next:hover {
    cursor: default;
    background-color: #fff;
}

.pagination .number-ellipsis {
    display: inline-block;
    font-size: 15px;
    padding: 8px 14px;
}

.pagination .number-ellipsis.page-hidden {
    display: none;
}

.xiangqing-r .div01 {
    width: 270px;
    height: 305px;
    overflow: hidden;
    background-color: #fff;
}

.xiangqing-r .div01 p {
    width: 234px;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
    margin-top: 34px;
    background-color: rgba(78, 154, 211, 1);
    text-align: center;
    color: #fff;
    position: relative;
}

.xiangqing-r .div01 p span {
    display: inline-block;
    position: absolute;
    background-color: #fff;
    width: 2px;
    height: 18px;
    top: 14px;
    left: 16px;
}

.xiangqing-r .div01 img {
    border: 1px solid rgba(234, 234, 234, 1);
    width: 142px;
    margin-top: 24px;
    margin-left: 64px;
}

.xiangqing-r .div01 .div01-1 {
    margin-top: 20px;
    text-align: center;
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    font-family: SourceHanSansSC-regular;
}

.xiangqing-r .div02 {
    width: 270px;
    padding-bottom: 20px;
    /* height: 710px; */
    margin-top: 16px;
    background-color: #fff;
}

.xiangqing-r .div02 h2 {
    padding: 20px;
    color: rgba(60, 65, 69, 1);
    font-size: 16px;
    font-family: SourceHanSansSC-bold;
}

.xiangqing-r .div02 ul {
    padding: 0 20px;
}

.xiangqing-r .div02 ul a {
    margin-top: 35px;
}

.xiangqing-r .div02 ul a img {
    display: inline-block;
    width: 230px;
    height: 137px;
    background-color: red;
	border-radius:6px
}

.xiangqing-r .div02 ul a:first-child {
    margin-top: 0px;
}

.xiangqing-r .div02 ul a  p {
    /* width: 224px; */
   /*  height: 39px; */
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    font-family: 方正兰亭黑-标准;
    margin: 4px auto 30px;
}

.xiangqing-r .div03 {
    width: 270px;
    padding-bottom: 20px;
    margin-top: 16px;
    background-color: #fff;
}

.xiangqing-r .div03 h2 {
    padding: 20px;
    color: rgba(60, 65, 69, 1);
    font-size: 16px;
    font-family: SourceHanSansSC-bold;
}

.xiangqing-r .div03 ul {
    padding: 0 20px;
}

.xiangqing-r .div03 ul li {
    margin-top: 35px;
}

.xiangqing-r .div03 ul li img {
    display: inline-block;
    width: 230px;
    height: 137px;
    background-color: red;
}

.xiangqing-r .div03 ul li:first-child {
    margin-top: 0px;
}

.xiangqing-r .div03 ul li p {
    /* width: 224px; */
    height: 39px;
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    font-family: 方正兰亭黑-标准;
    margin: 0 auto;
    margin-top: 4px;
}

.footer {
    width: 100%;
    height: 460px;
    line-height: 20px;
    background-color: rgba(25, 35, 62, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
}

.footer .footer-t {
    height: 320px;
    overflow: hidden;
}

.footer dl {
    float: left;
    margin-right: 83px;
    margin-top: 70px;
}

.footer dl dt {
    left: 362px;
    top: 2120px;
    width: 64px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-bottom: 16px;
}

.footer-t img {
    width: 80px;
    height: 80px;
}

.footer dl dd {
    left: 361px;
    top: 2160px;
    width: 78px;
    margin-top: 12px;
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer dl:last-child dd {
    left: 361px;
    top: 2160px;
    width: 300px;
    margin-top: 12px;
    /* height: 140px; */
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c {
    margin-top: 40px;
    height: 20px;
    opacity: 0.5;
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c ul li {
    float: left;
    height: 16px;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
    border-right: 1px solid rgba(138, 143, 157, 1);
}

.footer .footer-c ul li a {
    padding: 0 10px;
    vertical-align: top;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
}

.footer .footer-c ul li:first-child a {
    padding-left: 0;
}

.footer .footer-c ul li:first-child,
.footer .footer-c ul li:last-child {
    border-right: 0;
}

.footer-1 {
    margin-top: 18px;
    border-top: 2px solid rgba(138, 143, 157, 1);
}

.footer-1 .logo {
    margin-top: 16px;
}

.footer-1 .logo img {
    float: left;
    /* margin-top: 16px; */
}

.footer-1 .logo p {
    width: 896px;
    height: 41px;
    opacity: 0.44;
    float: left;
    margin-left: 36px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.guojia {
    margin-top: 60px;
    border-top: 3px solid #42A4D3;
    background-color: #fff;
}

.gx_type {
    width: 100%;
    height: auto;
    border: 1px solid #e2e2e2;
    padding-top: 0px;
    margin-bottom: 19px;
}

.gx_type #gjyx_tt {
    border-bottom: 1px solid #e2e2e2;
    font-size: 20px;
    text-indent: 2px;
    height: 52px;
    line-height: 52px;
}

.gx_type p {
    border-bottom: 1px solid #e2e2e2;
    height: auto;
    line-height: 50px;
}

.gx_type p .c_r {
    border-bottom: 1px solid #e2e2e2;
    height: auto;
    line-height: 39px;
}

.gx_type p em {
    font-style: normal;
    text-decoration: none;
    color: #333333;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 3px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.gx_type #mdd {
    padding-left: 12px;
}

.gx_type .p1 em:hover {
    background: #098aca;
    color: #FFF;
}

.gx_type p em:nth-of-type(1) {
    background: #098aca;
    color: #FFF;
}

.gx_type #yx_p {
    border-bottom: 0;
}

.gx_type p span {
    display: inline-block;
    width: 129px;
    font-weight: 900;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
}
.gx_type p .li-data{
	display:inline-block;
	width:900px;
}
.gx_type p:last-child {
    border-bottom: 0;
}

.a_on input {
    vertical-align: middle !important;
}

.xinxi {
    margin-top: 10px;
}
