body, ul, li, div, a, p, h1, h2, h3, h4, dl, dt, dd {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    width: 100%;
    min-width: 1200px;
    background-color: rgba(242, 242, 242, 1);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* 导航开始 */
.top {
    width: 100%;
    height: 48px;
    min-width: 1200px;
    background-color: #0F205C;
    position: relative;
}

.top .top-logo {
    float: left;
}

.top .top-logo .top-logo-l {
    position: absolute;
    left: 14px;
    top: 10px;
    width: 26px;
    height: 26px; /* background-color: rgba(255, 255, 255, 1); */
}

.top .top-logo .top-logo-r {
    position: absolute;
    left: 67px;
    top: 5px;
    width: 223px;
    height: 33px;
}

.top .top-left {
    float: right;
    position: relative;
}

.search {
    float: left;
    margin-top: 2px;
    position: relative;
}

.search img {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.top .top-left input {
    width: 230px;
    height: 44px;
    line-height: 20px;
    color: #fff;
    float: left;
    background-color: rgba(255, 255, 255, 0.22);
    text-align: left;
    border: 0px;
    padding: 0px 38px 0px 18px;
}

.top .top-left input::placeholder {
    color: #fff;
}

.top .top-left ul {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0px 25px;
}

.top .top-left ul li {
    float: left;
    opacity: 0.75;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
}

.top .top-left ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 17px;
    background-color: #fff;
    vertical-align: middle;
    margin: 0px 18px;
}

.top .top-left ul li:nth-last-of-type(1)::after {
    display: none;
}

.top .top-left ul li a {
    display: inline-block;
    vertical-align: middle;
    color: white;
}

/* logo导航结束 *//* 文字导航开始 */
.top2 {
    width: 100%;
    height: 50px;
    min-width: 1200px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 5px 1px rgba(170, 170, 170, 1);
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

.top2 ul li {
    float: left;
    line-height: 50px;
    color: rgba(17, 30, 92, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-right: 28px;
}

.top-logo-r img {
    width: 223px;
    margin-top: 5px;
}

.top2 ul li a {
    color: rgba(17, 30, 92, 1);
}

.top2 ul li:nth-child(1) {
    width: 32px;
    height: 24px;
    margin-left: 24px;
}

.top2 ul li:nth-child(2) {
    width: 80px;
    height: 24px;
}

.top2 ul li:nth-child(3) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(4) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(5) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(6) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(7) {
    width: 64px;
    height: 24px;
}

.top2 ul li:nth-child(8) {
    width: 32px;
    height: 24px;
}

.top2 ul li:nth-child(9) {
    width: 32px;
    height: 24px;
}

.top2 ul li:nth-child(10) {
    width: 32px;
    height: 24px;
}

/* banner轮播图开始 */
.swiper-container {
    width: 100%;
    height: 675px;
}

.swiper-slide {
    width: 100%;
    height: 675px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.banner-l {
    display: inline-block;
    width: 100%;
}

.banner-r {
    margin-top: -4px;
    height: 82px;
    line-height: 82px;
    background-color: rgba(249, 249, 249, 1);
    width: 100%;
}

.banner .banner-l img {
    width: 100%;
}

.banner-r {
    overflow: hidden;
}

.banner-r ul li {
    float: left;
    color: black;
    margin-right: 28px;
    color: rgba(130, 130, 130, 1);
    font-size: 16px;
    font-family: 方正兰亭黑-标准;
}

.banner-r ul li a {
    color: rgba(130, 130, 130, 1);
}

.banner-r ul li:nth-of-type(1) {
    color: #6E6E6E;
    font-weight: 900;
}

.banner-r ul li:first-child, .banner-r ul .on a {
    color: #009dd9;
    font-size: 16px;
    font-family: 方正兰亭黑-粗;
}

.wenben {
    overflow: hidden;
    background-color: #fff;
}

.gaikuang {
    margin-top: 78px;
    overflow: hidden;
    background-color: #fff;
}

.gaikuang .gaikuang-l {
    width: 666px;
    float: left;
}

.gaikuang .gaikuang-l ul {
    width: 100%;
    height: 188px;
    opacity: 0.65;
    background-color: rgba(238, 238, 238, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 4px;
    box-sizing: border-box;
    margin-top: 26px;
}

.gaikuang .gaikuang-l ul li {
    float: left;
    width: 81px;
    height: 86px;
    border-right: 1px dashed #D9D9D9;
    border-bottom: 1px dashed #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gaikuang .gaikuang-l ul li:nth-child(8n) {
    border-right: 0;
}

.gaikuang .gaikuang-l ul li:nth-child(9), .gaikuang .gaikuang-l ul li:nth-child(10), .gaikuang .gaikuang-l ul li:nth-child(11), .gaikuang .gaikuang-l ul li:nth-child(12), .gaikuang .gaikuang-l ul li:nth-child(13), .gaikuang .gaikuang-l ul li:nth-child(14), .gaikuang .gaikuang-l ul li:nth-child(15), .gaikuang .gaikuang-l ul li:nth-child(16) {
    border-bottom: 0;
}

.gaikuang .gaikuang-l .p1 {
    width: 665px;
    height: 88px;
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    margin-top: 34px;
    line-height: 26px;
    margin-bottom: 4px;
}

.gaikuang .gaikuang-l .p2 {
    width: 665px;
    height: 57px;
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    font-family: 方正兰亭黑-细;
}

.gaikuang .gaikuang-l ul li p {
    color: rgba(110, 110, 110, 1);
    font-size: 12px;
    text-align: center;
    font-family: 方正兰亭黑-细;
}

.gaikuang .gaikuang-l ul li img {
    width: 30px;
    height: 30px;
}

.gaikuang .gaikuang-r {
    float: right;
}

.gaikuang .gaikuang-r .price {
    width: 444px;
    height: 105px;
    line-height: 20px;
    padding-left: 27px;
    background-color: rgba(78, 80, 84, 1);
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

.gaikuang .gaikuang-r .price .price1 { /* margin-top: 19px; */
    border-right: 2px solid rgba(187, 187, 187, 1);
    overflow: hidden;
    height: 100%;
    float: left;
    color: #fff;
    width: 290px;
}

.gaikuang .gaikuang-r .price .price1 p {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    margin-bottom: 6px;
    margin-top: 19px;
}

.gaikuang .gaikuang-r .price .price1 h3 {
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 23px;
    text-align: left;
    margin-top: 14px;
    font-family: 方正兰亭黑-细;
}

.gaikuang .gaikuang-r .price .price2 {
    float: left;
    width: 120px;
}

.gaikuang .gaikuang-r .price .price2 h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: center;
    line-height: 105px;
    font-family: 方正兰亭黑-细;
}

.gaikuang .gaikuang-r .guojia {
    width: 444px;
    height: 178px;
    line-height: 20px;
    background-color: rgba(238, 238, 238, 1); /* text-align: center; */
    border: 1px solid rgba(255, 255, 255, 0);
    margin-top: 14px;
}

.guojia ul {
    padding: 18px 25px;
}

.guojia ul li {
    width: 178px;
    float: left;
    margin-bottom: 28px;
    color: rgba(110, 110, 110, 0.67);
    font-size: 14px;
    text-align: left;
    font-family: 方正兰亭黑-标准;
}

.guojia ul li img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.guwen ul {
    overflow: hidden;
}

.guwen ul li {
    float: left;
    margin-top: 26px;
}

#download {
    line-height: 20px;
    text-align: right;
    color: rgba(66, 164, 211, 1);
    font-size: 14px;
    font-family: SourceHanSansSC-bold;
    float: right;
    padding: 20px;
}

#download::after {
    content: "";
    display: block;
    text-align: right;
    width: 130px;
    height: 3px;
    background-color: rgba(66, 164, 211, 1);
}

.guwen ul li a {
    color: rgba(255, 255, 255, 1)
}

.guwen ul li:first-child a {
    display: block;
    width: 240px;
    height: 60px;
    background-color: rgba(66, 164, 211, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-right: 7px;
}

.guwen ul li:first-child a p {
    margin-top: 10px;
}

.guwen ul li:first-child a span {
    font-size: 12px;
}

.guwen ul li:last-child a {
    display: block;
    width: 195px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(66, 164, 211, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

#download a {
    text-decoration: underline;
    width: 240px;
    height: 20px;
    display: inline-block;
    color: rgba(66, 164, 211, 1);
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    font-family: SourceHanSansSC-bold;
}

#li06 {
    width: 590px;
    height: 390px;
}

#li06 video {
    height:390px;
}

.vido {
    overflow: hidden;
    background-color: #fff;
}

.vido ul li {
    float: left;
    margin-top: 70px;
}

.vido ul li:first-child {
    margin-right: 20px;
}

.jigou {
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 70px;
}

.jigou > ul > li:first-child {
    margin-right: 20px;
}

.jigou > ul > li {
    float: left;
    width: 590px;
    min-height: 200px; 
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    margin-top: 92px;
    position: relative;
    border: 1px solid rgba(238, 238, 238, 1);
}

.jigou > ul > li:first-child img {
    position: absolute;
    top: 14px;
    right: 19px;
}

.jigou > ul > li:last-child img {
    position: absolute;
    top: 18px;
    right: 4px;
}

.jigou ul li ul li {
    width: 360px;
    color: rgba(110, 110, 110, 1);
    margin-bottom: 18px;
    font-size: 14px;
    text-align: left;
    padding:0 0 10px 41px;
    font-family: SourceHanSansSC-regular;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.jigou h3 {
    margin-bottom: 24px;
    margin-top: 38px;
    margin-left: 41px;
    color: rgba(110, 110, 110, 1);
    font-size: 28px;
    text-align: left;
    font-weight: normal;
    font-family: 方正兰亭黑-细;
}

.jigou ul li ul li:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 18px;
    border-radius: 50%; /* margin-right: 40px; */
    position: absolute;
    background-color: rgba(66, 164, 211, 1);
}

.jigou ul li ul li:first-child {
    line-height: 24px;
}

.jigou > ul > li > a {
    position: absolute;
    bottom: 13px;
    left: 19px;
    color: rgba(66, 164, 211, 1);
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.richeng h2 {
    color: rgba(60, 65, 69, 1);
    font-size: 36px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    font-weight: normal;
    margin-top: 65px;
    margin-bottom: 20px;
}

#richeng {
    width: 70%;
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    text-align: left;
    font-family: 方正兰亭黑-细;
	line-height:31px;
}

.richeng p {
    width: 848px;
    height: 53px;
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    font-family: 方正兰亭黑-细;
    margin-bottom: 44px;
}

.jiaoliu {
    overflow: hidden;
    padding-bottom: 89px;
}

.jiaoliu > ul > li:first-child {
    margin-right: 20px;
    background-color: #fff;
}

.jiaoliu > ul > li {
    float: left;
    width: 590px;
    min-height: 350px; /*我改为480px*/
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    margin-top: 30px;
    position: relative;
    border: 1px solid rgba(238, 238, 238, 1);
    background-color: #fff;
}

.jiaoliu > ul > li:first-child img {
    position: absolute;
    top: 14px;
    right: 19px;
}

.jiaoliu > ul > li:last-child img {
    position: absolute;
    top: 18px;
    right: 4px;
}

.jiaoliu ul li ul li {
    width: 360px;
    color: rgba(110, 110, 110, 1);
    margin-bottom: 18px;
    font-size: 14px;
    text-align: left;
    padding-left: 41px;
    font-family: SourceHanSansSC-regular;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.jiaoliu h3 {
    margin-bottom: 24px;
    margin-top: 38px;
    margin-left: 41px;
    color: rgba(110, 110, 110, 1);
    font-size: 28px;
    text-align: left;
    font-weight: normal;
    font-family: 方正兰亭黑-细;
}

.jiaoliu ul li ul li:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 18px;
    border-radius: 50%; /* margin-right: 40px; */
    position: absolute;
    background-color: rgba(66, 164, 211, 1);
}

.jiaoliu ul li ul li:first-child {
    line-height: 24px;
}

.jiaoliu > ul > li > a {
    position: absolute;
    bottom: 45px;
    left: 19px;
    color: rgba(66, 164, 211, 1);
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.Huodong {
    overflow: hidden;
    background-color: #fff;
}

.huodong {
    overflow: hidden;
	padding-bottom:65px;
}

.huodong h2 {
    color: rgba(60, 65, 69, 1);
    font-size: 36px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    font-weight: normal;
    margin-top: 75px;
    margin-bottom: 30px;
}

.huodong p {
    width: 1125px;
    height: 53px;
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    margin-bottom: 26px;
}

.huodong ul li {
    float: left;
    margin: 0 14px 10px 0;
    width: 30%
}

.huodong ul li img {
    width: 100%;
}

.huodong ul li:nth-of-type(3n) {
    margin-right: 0;
}

.canfang {
    margin-top: 90px;
    border-top: 1px solid rgba(234, 234, 234, 1);
    padding-top: 57px;
    overflow: hidden;
    padding-bottom: 118px;
}

.canfang .canfang-l {
    width: 720px;
    overflow: hidden;
    float: left;
}

.canfang .canfang-l h2 {
    font-weight: normal;
    color: rgba(60, 65, 69, 1);
    font-size: 36px;
    text-align: left;
    margin-bottom: 14px;
    font-family: 方正兰亭黑-细;
}

.canfang .canfang-l .canfang-l-2 h2 {
    margin-top: 42px;
}

.canfang .canfang-l-2 p:nth-child(2) {
    margin-bottom: 18px;
}

.canfang .canfang-l p {
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    line-height: 26px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.canfang .canfang-r {
    float: right;
    font-size: 0px;
}

.canfang .canfang-r img {
    margin-top: 50px;
    margin-right: 15px;
    vertical-align: middle;
    width: 390px;
    height: 310px;
}

.canfang .canfang-r img:nth-last-of-type(1) {
    margin-right: 0px;
}

.jingdian {
    padding-bottom: 60px;
}

.jingdian h2 {
    color: rgba(60, 65, 69, 1);
    font-size: 36px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    font-weight: normal;
    margin-top: 62px;
    margin-bottom: 26px;
}

.jingdian .jingdian1 p {
    width: 1125px;
    height: 53px;
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    font-family: 方正兰亭黑-细;
}

.jingdian .jingdian2 {
    overflow: hidden;
    margin-top: 59px;
}

.jingdian .jingdian2 ul {
    overflow: hidden;
    width: 1917px;
    min-width: 1200px;
}

.jingdian .jingdian2 ul li {
    width: 474.75px;
    height: 320px;
    margin-right: 6px;
    float: left;
    position: relative;
}

.jingdian-mask {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: none;
}

.jingdian-mask h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: left;
    font-family: 方正兰亭黑-细;
}

.jingdian-mask p {
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    margin-top: 30px;
}

.jingdian .jingdian2 ul li img {
    width: 100%;
    vertical-align: middle;
}

.jingdian .jingdian2 ul li:last-child {
    margin-right: 0%;
}

.jingdian a {
    display: block;
    color: rgba(255, 255, 255, 1);
    width: 240px;
    height: 60px;
    line-height: 20px;
    background-color: rgba(66, 164, 211, 1);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 auto;
    margin-top: 49px;
}

.jingdian a p {
    margin-top: 8px;
}

.zhusu {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.zhusu .zhusu1 {
    width: 590px;
    float: left;
    margin-right: 20px;
}

.zhusu .zhusu2 {
    width: 590px;
    float: left;
    padding-bottom: 80px;
}

.zhusu h2 {
    font-weight: normal;
    color: rgba(60, 65, 69, 1);
    font-size: 36px;
    text-align: left;
    padding-top: 63px;
    font-family: 方正兰亭黑-细;
}

.zhusu .zhusu1 p, .zhusu .zhusu2 p {
    width: 528px;
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    text-align: left;
    margin: 22px 0;
    overflow: hidden;
}
.zhusu ul li {
    position: relative;
    padding-left: 50px;
    color: rgba(130, 130, 130, 1);
    font-size: 14px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    margin-bottom: 8px;
}

.zhusu ul li:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 32px;
    border-radius: 50%; /* margin-right: 40px; */
    position: absolute;
    background-color: rgba(66, 164, 211, 1);
}

.zhusu .zhusu2 .zhusu2-1, .zhusu1-1 {
    text-align: center;
	overflow:hidden;
}

.jdhuigu { /* overflow: hidden; */
    margin-top: 90px;
}

.jdhuigu p {
    margin-bottom: 20px;
}

.p1 {
    color: rgba(60, 65, 69, 1);
    font-size: 36px;
    text-align: center;
    font-family: 方正兰亭黑-细;
    margin: 90px auto 50px;
}

.jdhuigu .p2 {
    color: rgba(60, 65, 69, 1);
    font-size: 18px;
    text-align: center;
    font-family: 方正兰亭黑-细;
    margin-top: 19px;
}

.jdhuigu .p3 {
    color: rgba(110, 110, 110, 1);
    font-size: 14px;
    text-align: center;
    font-family: 方正兰亭黑-细;
    margin-top: 24px;
    margin-bottom: 49px;
}

.own {
    text-align: center;
    overflow: hidden;
    padding-bottom: 108px;
}

.own ul {
    overflow: hidden;
    width: 1406px;
    margin: 0 auto;
}

.own ul li {
    float: left;
    width: 399px;
    height: 238px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.own ul li img {
    width: 100%;
    height: 100%;
}

.mobility {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .65);
    display: none;
}

.mobility h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.mobility p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    margin-top: 30px;
	line-height:23px;
}

.own ul li img {
    width: 100%;
    vertical-align: middle;
}

.own ul li:nth-child(4n) {
    margin-right: 0px;
}

.pingjia {
    overflow: hidden;
    background-color: #fff;
}

.pingjia .pingjia1 h2 {
    margin-top: 84px;
    margin-bottom: 24px;
    color: rgba(60, 65, 69, 1);
    font-size: 36px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    font-weight: normal;
}

.pingjia .pingjia1-1 ul {
    overflow: hidden;
}

.pingjia .pingjia1-1 ul li {
    float: left;
    margin-right: 14px;
}

/* #li01 img{    width: 100%;} */
.pingjia .pingjia1-1 ul li:last-child {
    margin-right: 0px;
}

.pingjia .pingjia1-1 p {
    width: 1125px;
    height: 53px;
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    margin-top: 24px;
    margin-bottom: 44px;
}

.pingjia .pingjia1-2 ul {
    overflow: hidden;
}

.pingjia .pingjia1-2 ul li {
    float: left;
    margin-right: 14px;
}

.pingjia .pingjia1-2 ul li:last-child {
    margin-right: 0px;
}

.pingjia .pingjia1-2 p {
    width: 1125px;
    height: 53px;
    color: rgba(110, 110, 110, 1);
    font-size: 16px;
    text-align: left;
    font-family: 方正兰亭黑-细;
    margin-top: 24px;
    margin-bottom: 188px;
}

.footer {
    width: 100%;
    height: 460px;
    line-height: 20px;
    background-color: rgba(25, 35, 62, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
}

.footer .footer-t {
    height: 320px;
    overflow: hidden;
}

.footer dl {
    float: left;
    margin-right: 83px;
    margin-top: 70px;
}

.footer dl dt {
    left: 362px;
    top: 2120px;
    width: 64px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-bottom: 16px;
}

.footer-t img {
    width: 80px;
    height: 80px;
}

.footer dl dd {
    left: 361px;
    top: 2160px;
    width: 78px;
    margin-top: 12px; /* height: 140px; */
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer dl:last-child dd {
    left: 361px;
    top: 2160px;
    width: 300px;
    margin-top: 12px; /* height: 140px; */
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c {
    margin-top: 40px;
    height: 20px;
    opacity: 0.5;
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c ul li {
    float: left;
    height: 16px;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
    border-right: 1px solid rgba(138, 143, 157, 1);
}

.footer .footer-c ul li a {
    padding: 0 10px;
    vertical-align: top;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
}

.footer .footer-c ul li:first-child a {
    padding-left: 0;
}

.footer .footer-c ul li:first-child, .footer .footer-c ul li:last-child {
    border-right: 0;
}

.footer-1 {
    margin-top: 18px;
    border-top: 2px solid rgba(138, 143, 157, 1);
}

.footer-1 .logo {
    margin-top: 16px;
}

.footer-1 .logo img {
    float: left; /* margin-top: 16px; */
}

.footer-1 .logo p {
    width: 896px;
    height: 41px;
    opacity: 0.44;
    float: left;
    margin-left: 36px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}
