body,
ul,
li,
div,
a,
p,
h1,
h2,
h3,
h4,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    min-width: 1024px;
    /*background-color: rgba(242, 242, 242, 1);*/
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.panel {
    width: 200px;
    background-color: rgba(9,12,48,0.972549);
    color: #fff;
    /* box-shadow: inset 0 0 5px 5px #222; */
    position: fixed;
    left: 0px;
    top: 48px;
    z-index: 99999;
    height: 100%;
    right: auto;
    display: none;
}
/* 导航开始 */

.top {
    width: 100%;
    height: 48px;
    min-width: 1024px;
    background-color: #0F205C;
    position: relative;
}

.top .top-logo {
    float: left;
}

.top .top-logo .top-logo-l {
    position: absolute;
    left: 14px;
    top: 10px;
    width: 26px;
    height: 26px;
    /* background-color: rgba(255, 255, 255, 1); */
}

.top .top-logo .top-logo-r {
    position: absolute;
    left: 67px;
    top: 5px;
    width: 223px;
    height: 33px;
}

.top .top-left {
    float: right;
    position: relative;
}

.search {
    float: left;
    margin-top: 2px;
    position: relative;
}

.search img {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.top .top-left input {
    width: 230px;
    height: 44px;
    line-height: 20px;
    color: #fff;
    float: left;
    background-color: rgba(255, 255, 255, 0.22);
    text-align: left;
    border: 0px;
    padding: 0px 38px 0px 18px;
}

.top .top-left input::placeholder {
    color: #fff;
}

.top .top-left ul {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0px 25px;
}

.top .top-left ul li {
    float: left;
    opacity: 0.75;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: SourceHanSansSC-regular;
}

.top .top-left ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 17px;
    background-color: #fff;
    vertical-align: middle;
    margin: 0px 18px;
}

.top .top-left ul li:nth-last-of-type(1)::after {
    display: none;
}

.top .top-left ul li a {
    display: inline-block;
    vertical-align: middle;
    color: white;
}


/* logo导航结束 */


/* 文字导航开始 */

.top2 {
    width: 100%;
    height: 50px;
    min-width: 1024px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 5px 1px rgba(170, 170, 170, 1);
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;
}

.top2 ul li {
    float: left;
    line-height: 50px;
    color: rgba(17, 30, 92, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-right: 28px;
}

.top-logo-r img {
    width: 223px;
    margin-top: 5px;
}

.top2 ul li a {
    color: #131764;
    font-size: 16px;
}

.top2 ul li:nth-child(1) {
    /*  width: 32px; */
    height: 50px;
    margin-left: 24px;
}

.top2 ul li:nth-child(2) {
    /* width: 80px; */
    height: 50px;
    width:auto !important;
}

.top2 ul li:nth-child(3) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(4) {
    /* width: 64px; */
    height: 50px;
}

.top2 ul li:nth-child(5) {
    /* width: 64px; */
    height: 50px;
    text-align: center;
}

.top2 ul li:nth-child(6) {
     width: auto !important;
    height: 50px;
    text-align: center;
}

.top2 ul li:nth-child(7) {
     width:auto !important;
    height: 50px;
    text-align: center;
}

.top2 ul li:nth-child(8) {
    /* width: 32px; */
    height: 50px;
    text-align: center;
}

.top2 ul li:nth-child(9) {
    /* width: 32px; */
    height: 50px;
    text-align: center;
}

.top2 ul li:nth-child(10) {
    /* width: 32px; */
    height: 50px;
    text-align: center;
}


/*首页 头部下拉效果*/
.nav-bg{
    width:298px;
    background-color: rgba(9,12,48,0.972549);
    height:60px;
    z-index: 99999;
    left:0;
    top:0
}

.top2 .nav{
    z-index: 99999;
    left:-51px;
    top:49px;
}
.top2 .nav .nav-desc{
    left:0;
    top:0;
    width:298px;
    box-sizing: border-box;
    height:127px;
    z-index: 999999;
    padding:20px 30px;
    text-align: center;
}
.top2 .nav .nav-desc .header{
    border-bottom:1px solid #007db3;
    color:#007db3;
    font-size: 14px;
}
.top2 .nav .nav-desc .desc-title{
    font-size: 14px;
    color:#fff;
}
.top2 .triggle{
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #333;/*透明 透明  灰*/
    margin:40px auto;
    bottom:-39px;
    left:28%
}
.top2 ul li a{
    height:50px;
    display: block;
}
.top2 ul li a:hover{
    text-decoration:none;
}
.top2 .nav-desc .desc .desc-title:hover{
    color:#007db3
}
.top2 li a .triggle{
    display: none;
}
.top2 li:hover .triggle{
    display: block;
}
.top2 li .nav{
    display: none;
}
.top2 li:hover .nav{
    display: block;
}
.footer {
    width: 100%;
    height: 460px;
    line-height: 20px;
    background-color: rgba(25, 35, 62, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
}

.footer .footer-t {
    height: 320px;
    overflow: hidden;
}

.footer dl {
    float: left;
    margin-right: 83px;
    margin-top: 70px;
}

.footer dl dt {
    left: 362px;
    top: 2120px;
    width: 64px;
    height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
    margin-bottom: 16px;
}

.footer-t img {
    width: 80px;
    height: 80px;
}

.footer dl dd,.footer dl dd a {
    left: 361px;
    top: 2160px;
    width: 78px;
    margin-top: 12px;
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
	text-decoration:none;
}

.footer dl:last-child dd {
    left: 361px;
    top: 2160px;
    width: 300px;
    margin-top: 12px;
    /* height: 140px; */
    color: rgba(183, 183, 183, 1);
    font-size: 13px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c {
    margin-top: 40px;
    height: 20px;
    opacity: 0.5;
    font-size: 14px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}

.footer .footer-c ul li {
    float: left;
    height: 16px;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
    border-right: 1px solid rgba(138, 143, 157, 1);
}

.footer .footer-c ul li a {
    padding: 0 10px;
    vertical-align: top;
    line-height: 16px;
    color: rgba(138, 143, 157, 1);
}

.footer .footer-c ul li:first-child a {
    padding-left: 0;
}

.footer .footer-c ul li:first-child,
.footer .footer-c ul li:last-child {
    border-right: 0;
}

.footer-1 {
    margin-top: 18px;
    border-top: 2px solid rgba(138, 143, 157, 1);
}

.footer-1 .logo {
    margin-top: 16px;
}

.footer-1 .logo img {
    float: left;
    /* margin-top: 16px; */
}

.footer-1 .logo p {
    width: 896px;
    height: 41px;
    opacity: 0.44;
    float: left;
    margin-left: 36px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    text-align: left;
    font-family: SourceHanSansSC-regular;
}
.icon-top-search {
    width: 19px;
    height: 18px;
    top: 16px;
    cursor: pointer;
    border-right: 1px solid #fff;
    padding-right: 20px;
}
.undis{display: none}


















